@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", serif;
    --fonte3: "Sriracha", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgrey; 
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;

}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}


.normal {
    background-color: rgb(255, 255, 255);
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);
    background-attachment: fixed;
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 7px;  
}

#img01 {
    background-image: url(../desafio012/imagens/background001.jpg);
    background-position: right center;
}

#img02 {
    background-image: url(../desafio012/imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}


